*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.main{
    width: 100%;
    background: url(wallhaven-z8j1qo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin-top: 4%;
    margin-left: auto;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: .4s ease;
}

ul li a:hover{
    color:white;
}

.info{
    text-align: center;
    margin-top: 9%;
}

.info h1{
    font-size: 50px;
    color:darkmagenta;
    
}

.info h2{
    font-size: 25px;
    color:darkmagenta;
}

/*projects*/
.row{
    padding-top: 100px;
    font-size: 50px;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 200px;
    margin-top: 5%;
}

.container .card{
    width: 308px;
    position: relative;
    height: 550px;
    background: skyblue;
    margin: 30px 10px;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px;
    transition: 0.3s ease-in-out;
    margin-top: 1%;
    margin-bottom: 400px;
}

.container.card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba (0,0,0,1.2);
}

.container .card .imgBx img{
max-width: 100%;
border-radius: 10px;
}

.imgBx:hover img{
    transform: scale(1.1);
}
.imgBx h1{
    font-size: 30px;
}

.imgBx p{
    font-size: 20px;
}

/*about*/
.container2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.profile-box{
    width: 30%;
    height: 70%;
    background: skyblue;
    text-align: center;
    margin-left: 100px;
    margin-top: 200px;
}

.about{
    font-size: 50px;
    margin-left: -100px;
    margin-top: -200px;
}

.profile-box img{
 margin-left: 57px;
}


   




